*
!.gitignore
!deep.md
!core_lang_spec.md
!cpp_idioms.md
!deep_cpp.md
!deep_intro.md
!design_pattern.md
!dynamic_memory_allocation.md
!sample_code.md
!solid.md
!stdlib_and_concepts.md
!template_meta_programming.md
